# Ambiente
APP_ENV=development

# Azure Data Lake Storage Gen2
# Estes identificadores não são credenciais.
AZURE_STORAGE_ACCOUNT_NAME=stcustomeranalyticsgb01
AZURE_STORAGE_CONTAINER_NAME=customer-analytics

# Estrutura lógica do Data Lake
AZURE_LANDING_PREFIX=00_landing/customer_analytics
AZURE_BRONZE_PREFIX=01_bronze/customer_analytics
AZURE_SILVER_PREFIX=02_silver/customer_analytics
AZURE_GOLD_PREFIX=03_gold/customer_analytics
AZURE_EXPORTS_PREFIX=04_exports/customer_analytics
AZURE_METADATA_PREFIX=metadata
AZURE_QUARANTINE_PREFIX=quarantine

# Fonte utilizada pelo projeto
SOURCE_BLOB_PATH=00_landing/customer_analytics/2026-08-09/FOOD_COMMERCE_DIGITAL_TWIN.xlsx
SOURCE_FILE_NAME=FOOD_COMMERCE_DIGITAL_TWIN.xlsx
SOURCE_SHEET_NAME=25_bronze_transactions_sujo

# Diretórios locais ignorados pelo Git
LOCAL_DATA_DIR=data
LOCAL_OUTPUT_DIR=outputs
LOCAL_TEMP_DIR=temp
LOCAL_LOG_DIR=logs